@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: 'Cereal Medium';
    src: url('../public/fonts/Airbnb_Cereal-Medium.woff2');
}
@font-face {
    font-family: 'Cereal Bold';
    src: url('/public/fonts/Airbnb-Cereal-Bold.ttf');
}

body{
    font-family: 'Cereal Medium';
}


.homeBanner, .bottomLargeCard{
    object-fit: cover;
}