@tailwind base;
@tailwind utilities;
@tailwind components;

/* @font-face {
    font-family: 'Airbnb Cereal Medium';
    src: url('/public/fonts/Airbnb_Cereal-Bold.woff2');
}
@font-face {
    font-family: 'Airbnb Cereal Bold';
    src: url('/public/fonts/Airbnb-Cereal-Bold.ttf');
}
} */

body{
    font-family: 'Mont';
}